body {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 150%;
    background-color: #DCDCDC;
}

h3 {
	float: center;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-3 {
	width: 25%;
}